.container-header{
    text-align: center;
    width: 50%;
    margin: 0 auto 20px;
}

.container-header .section-header{
    color: #4ac6d6;
    font-size: 1.8rem;
}

.container-header .section-header-large{
    font-size: 2.8rem; 
}

.container-header .section-description{
    font-size: 0.9rem;
    width: 90%;
    margin: 1rem auto 0;
}

.container-pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 7% auto 0;
}

.section-footer{
    color: #000;
    font-size: 1.8rem;
    text-align: center;
}