.icon--turquoise{
    color: #4ac6d6;
    display: inline-block;
    width: 7vh;
    height: 7vh;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.icon--turquoise i{
    line-height: 7vh;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

.icon--turquoise:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}

.icon--turquoise::before{
content: "";
position: absolute;
width: 120%;
height: 120%;
background: #4ac6d6;
transform: rotate(45deg);
left: -110%;
top: 90%;
}

.icon--turquoise:hover::before{
animation: aaa 0.7s 1;
top: -10%;
left: -10%;
}

@keyframes aaa {
0%{
    left: -110%;
    top: 90%;
}50%{
    left: 10%;
    top: -30%;
}100%{
    top: -10%;
    left: -10%;
}
}
